<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homemade Crispy Hash Browns</title>
</head>
<body>
    <h1>Homemade Crispy Hash Browns</h1>
    <img src="../images/omoret.jpg" alt="Homemade Crispy Hash Browns made of eggs">
    <br>
    <p>This a recipe for Homemade Crispy Hash Browns.</p>
    <p>Believe it or not, making crispy hash browns is actually quite easy </p>
    <br>
    <h3>Ingredients</h3>
    <ul>
        <li>2 medium russet potatoes, shredded </li>
        <li>½ medium onion, finely chopped </li>
        <li>¼ cup all-purpose flour </li>
        <li>1 egg </li>
        <li>1 cup oil for frying, or as needed </li>
    </ul>
        <br>
    <h3>Directions</h3>
    <ol>
        <li>Gather all ingredients.</li>
        <li>Rinse shredded potatoes until water is clear, then drain and squeeze dry.</li>
    </ol>
      
</body>
</html>