<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grilled Tomahawk Steak</title>
</head>
<body>
    <h1>Grilled Tomahawk Steak</h1>
    <img src="../images/fish.jpg" alt="image of smoked fishes">
    <h2>This grilled tomahawk steak recipe is a showstopper</h2>
    <p> I like to use a Bluetooth-enabled meat thermometer to help me achieve the perfect medium-rare internal temperature.</p>
    

<h3>Ingredients</h3>
<ul>
    <li>1 tablespoon brown sugar</li>
    <li>1 tablespoon Montreal steak seasoning</li>
</ul>
<h3>For Compound Butter:</h3>
<ul>
    <li>1/4 cup salted butter, at room temperature</li>
    <li>1 tablespoon minced shallot</li>
    <li>1 clove garlic, minced</li>
    <li>1 tablespoon chopped fresh chives</li>
    <li>2 teaspoons reserved steak rub</li>
    </ul>
    
<h3>Instructions</h3>
<ol>
    <li>To make steak rub, place brown sugar, Montreal steak seasoning, garlic powder, and onion powder in a small airtight container; shake or stir to combine.
         Set aside 2 teaspoons steak rub to use in compound butter</li>
    <li>Place steak on a half sheet pan, and rub steak on top, bottom, and sides with remaining steak rub until well coated.
         Place steak, uncovered, in the refrigerator to dry-brine overnight.</li>
    <li>For compound butter, place butter, shallot, garlic, chives, and the reserved 2 teaspoons steak rub in a small bowl. Mash together with a fork until evenly combined.
         Spoon butter into a small airtight container, cover, and refrigerate until ready to use.</li>
    <li>Remove steak from the refrigerator 1 hour before cooking to take the chill off. 
        It will cook on the sheet pan that you used for dry-brining.</li>
    <li></li>
    <li>Preheat the oven to 300 degrees F (150 degrees C). The reverse sear method is used to cook this big steak, so you will need an instant-read thermometer. If you are using a digital meat thermometer,
         set the internal temperature to 110 degrees F (43 degrees C).</li>
    </ol>
</ul>
</body>
</html>